@font-face {
  font-family: 'DotMatrix';
  src: url('./fonts/DOTMATRI.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'DotMatrix', 'Courier New', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  color: #ffffff;
  letter-spacing: 0.5px;
}

code {
  font-family: 'DotMatrix', 'Courier New', monospace;
}
